.navigation
    ul
        li
            a(href="http://en.averr.in") Evernight
        li
            a(href="http://ide.averr.in") Develop
        li
            a(href="http://me.averr.in") About me